
<div id ="country-list" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Country List</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <input type="hidden" id="actionFormAction" name="action" value="">
            <input type="hidden" id="actionFormCountryID" name="countryID" value="">

            <table id="countryTable" class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>CODE</th>
                  <th>NAME</th>
                  <th></th>
                </tr>
            </table>
        </div>
    </div>
</div>
