

<div class="row searchViewContainer">
	<div class="col-sm-6">
		<button type="button" class="btn btn-default" id="listBtn" ></button>
	</div>
	<div class="col-sm-6 buttonContainer">
		<button type="button" class="btn btn-default" id="editBtn" ></button>
	</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Country Detail</h3>
    </div>
    <div class="panel-body">
        ID: <span id="txtCountryID"></span>
        CODE: <span id="countryCode"></span>
        NAME: <span id="countryName"></span>
    </div>
</div>
